:root{
    --gmg-bg-blue:#102A4B;
    --gmg-bg-blue-dark:#02203B;
    --gmg-red-color:#E3136E;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
}


@font-face {
    font-family: 'Louis George Cafe\'';
    src: url('../fonts/LouisGeorgeCafe.eot');
    src: url('../fonts/LouisGeorgeCafe.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafe.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafe.woff') format('woff'),
        url('../fonts/LouisGeorgeCafe.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafe.svg#LouisGeorgeCafe') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis-George-Cafe-Light\'';
    src: url('../fonts/LouisGeorgeCafeLight.eot');
    src: url('../fonts/LouisGeorgeCafeLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafeLight.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafeLight.woff') format('woff'),
        url('../fonts/LouisGeorgeCafeLight.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis-George-Cafe-bold\'';
    src: url('../fonts/LouisGeorgeCafe-Bold.eot');
    src: url('../fonts/LouisGeorgeCafe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafe-Bold.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafe-Bold.woff') format('woff'),
        url('../fonts/LouisGeorgeCafe-Bold.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
	color: #102A4B;
	margin: 0;
	padding: 0;
	font-family: 'Louis George Cafe\'';
}

.center{
    text-align: center;
}

.view-all-btn a{
    color: var(--gmg-red-color);
    font-family: 'Louis-George-Cafe-bold\'';
    margin-right: 20px;
}


/*//================================= header css Open =================================//*/
#navbar-menu{
	background-color: var(--gmg-bg-blue);
	padding-top: 10px;
    padding-bottom: 10px;
}


#navbar-menu .navbar-menu-logo{
	width: 200px;
}
#navbar-menu .select-box{
	background-color: var(--bs-white);
	border: transparent;
    padding: .775rem 2.25rem .889rem .75rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#navbar-menu .form-box{
    padding: .775rem .75rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#navbar-menu .select-box:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

#navbar-menu .search{
	color: var(--gmg-red-color);
}

#navbar-menu a.search{
	outline: none;
	text-decoration: none;
}

.upload-btn{
    background-color: var(--gmg-red-color);
    border-color: var(--gmg-red-color);;
}



/*//================================= header css closed =================================//*/


.category-box{
	position: relative;
    margin-bottom: 28px;
}

.category-box img{
	width: 100%;
}

.category-inner-box,
.category-inner-box-two{
	background-color: rgba(213, 7, 97, 0.8);
	border-radius: 15px;
	color: var(--bs-white);
	font-family: 'Louis-George-Cafe-bold\'';
	font-size: 18px;
	position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	width: 100%;
}

.category-inner-box-two{
    background-color: rgba(16, 42, 75, 0.8);
}

.order-now, .start-now, .book-now  {
  background-color: var(--gmg-red-color);
  border: none;
  border-radius: 18px;
  box-shadow: 5px 5px 10px rgb(255 255 255 / 18%), -1px -2px 14px rgb(6 6 6 / 22%);
  color: var(--bs-white);
  font-weight: 700;
  overflow: hidden;
  position: relative;
  border: solid 2px var(--bs-white);
  width: 70%;  
}

.start-now, .book-now{
    background-color: var(--gmg-bg-blue);
}

.book-now{
  width: 80%;    
} 


.order-now:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  background: rgba(227, 19, 110, 0.13);
  background: linear-gradient(
    to right, 
    rgba(227, 19, 110, 0.13) 0%,
    rgba(227, 19, 110, 0.13) 77%,
    rgba(227, 19, 110, 0.5) 92%,
    rgba(227, 19, 110, 0.3) 100%
  );
}

.start-now:after,
.book-now:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  background: rgba(227, 19, 110, 0.13);
  background: linear-gradient(
    to right, 
    rgba(16, 42, 75, 0.13) 0%,
    rgba(16, 42, 75, 0.13) 77%,
    rgba(16, 42, 75, 0.5) 92%,
    rgba(16, 42, 75, 0.3) 100%
  );
}


.order-now:hover:after,
.start-now:hover:after,
.book-now:hover:after {
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition-duration: 0.7s, 0.15s;
  transition-timing-function: ease;
}

.order-now:active:after,
.start-now:active:after,
.book-now:active:after {
  opacity: 0;
}

.order-now:hover{
    background-color: #CC1063;
    border: solid 2px var(--bs-white);  
}

.start-now:hover, .book-now:hover{
    background-color: var(--gmg-bg-blue-dark);
    border: solid 2px var(--bs-white);  
}



#carousel-item-box .card{
    border: transparent;
    position: relative;
    margin: 10px;
    border: 1px solid #f6f6f6;
}


.carousel-item-box{
  background-color: var(--bs-white);
  box-shadow: 4px 3px 8px #efeaea, 1px -3px 4px #ffffff;
  border-radius: 15px;

}

.carousel-item-box .card-body{
    font-family: 'Louis-George-Cafe-bold\'';
}

.carousel-item-box .fa-rupee-sign{
    font-size: 14px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    background: var(--gmg-red-color);
    color: var(--bs-white);
    width: 35px;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 120px;
    opacity: 0.2;
}

.owl-carousel .owl-nav button.owl-prev{
    left: 10px;
    top: 120px;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span{
    font-size: 40px;
    line-height: 20px;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
    background: var(--gmg-red-color);
    opacity: 1;
}
.owl-dots{
    display: none;
}

.offer-tag{
    background-color: var(--gmg-red-color);
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    left: 10PX;
    top: 10px;
}

.offer-tag:before{
    content: "";
    background: var(--gmg-red-color);
    width: 56px;
    height: 56px;
    position: absolute;
    border-radius: 50px;
    top: 2px;
    left: 2px;
    border: 2px solid var(--bs-white);
}
.offer-tag p{
    color: var(--bs-white);
    position: absolute;
    text-align: center;
    left: 19px;
    top: 10px;
    font-weight: 600;
    line-height: 18px;
}



































/*//================================= footer css Open =================================//*/
footer{
  background-color: var(--gmg-bg-blue-dark);
  color: #fff;
  padding-top: 30px;
}

footer h5, footer h6{
	font-family: 'Louis-George-Cafe-bold\'';
}

footer .contact-icon{
	background: var(--gmg-red-color);
    padding: 12px;
    border-radius: 40px;
    font-size: 20px;
    margin-right: 10px;
}
footer li{
	line-height: 35px;
}
footer li a{
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}
footer li a:hover{
	color: #fff;
}


footer .copy-right{
	  background-color: var(--gmg-bg-blue);
	  text-align: center;
	  font-weight: 500;
	  padding-top: 15px;
	  padding-bottom: 15px;
}
/*//================================= footer css closed =================================//*/





@media (min-width: 992px) and (max-width: 1169px){

    h3{
        font-size: 20px;
    }

    .category-box img {
        width: 100%;
        height: 190px;
    }
    .category-inner-box p, .category-inner-box-two p{
        font-size: 15px;
    }

}


@media (min-width: 768px) and (max-width: 991px){

    h3{
        font-size: 18px;
    }

    #navbar-menu .navbar-menu-logo {
        width: 110px;
        padding-left: 10px;
    }
	.navbar-dark .navbar-toggler{
		position: absolute;
    	right: 0;
    	top: -50px;
	}

    .category-box img {
        height: 200px;
    }
    .category-inner-box, .category-inner-box-two{
        padding: 5px;
    }
    .category-inner-box p, .category-inner-box-two p{
        font-size: 15px;
    }


}

@media (max-width: 767px){

    h2{
        font-size: 22px;
    }

    h3{
        font-size: 18px;
    }

    #navbar-menu .navbar-menu-logo {
        width: 110px;
        padding-left: 10px;
    }
	.navbar-dark .navbar-toggler{
		position: absolute;
    	right: 0;
    	top: -50px;
	}
    .category-box img {
        height: 190px;
    }
    .category-inner-box p, .category-inner-box-two p{
        font-size: 15px;
    }

}

































/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
/* ============ desktop view .end// ============ */








